.products {
    .hero-banner {
        background-image: url(../../images/products/All-Products.jpg);
        @include mobile {
            // background-image: url(../../images/img/services-mobile.jpg);
            background: none;
            height: auto;
            padding: 0;

        }
        .visable-mobile {
            display: none;
            @include mobile {
                display: block;

            }
        }
    }

    .product-list {
        h2 {
           color: $blue;
           font-weight: bolder;
           font-size: 40px;
           margin-bottom: 30px;
        }

        .composition {
            font-size: 18px;
            font-weight: bold;
            display: block;
        }
    }

 

   ul {
       list-style: none;
       li {
           margin-bottom: 15px;
           position: relative; 
           &::before {
               content: "";
               width: 18px;
               height: 18px;
               position: absolute;
               left: -25px;
               top: 6px;
               background-image: url(../../images/icons/hand-icon.svg);
               background-size: cover;
               opacity: .5;
           }
           &:last-child {
               margin-bottom: 0
           }
       }
   }
}

.service-wrap {
    .row {
        align-items: flex-start;
    }

    img {
        border-radius: 5px;
        box-shadow: 2px 2px 5px #33333391;
        @include mobile {
            margin-bottom: 15px;
        }
    }

    h2 {
        color: $blue;
        text-transform: uppercase;
    }
}

 